<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>UserPage</title>
</head>
<body>
<h1>User Page</h1>
<h2>Agent</h2>
<p th:text="${name}"></p>
<p th:text="${kind}"></p>

<form th:action="@{/send}" th:object="${message}" th:object1="${title}" th:object2="${location}" method="POST">
    <p><label>Submit new incident:</label></p>
    <p>Title: <input type="text" id="title" th:field="*{title}" /></p>
    <p>Description: <input type="text" id="message" th:field="*{message}" /></p>
    <p>Location: <input type="text" id="location" th:field="*{location}" /></p>
    <input type="submit" value="Notify Incident" />
</form>

<p>Review my incidents:</p>
<a th:href = "$/list"/>
</body>
</html>